<div class="container">

<h1><%= @confrontation.title %></h1>
  <div class='confrontation'>

    <div class='argument'>
      <p class = 'counter'><%= @confrontation.argument %></p>
      <%= @confrontation.calculate_votes[0] %>
    </div>
    <div class='argument'>
      <p class = 'counter'><%= @confrontation.rebuttal.counterargument %></p>
      <%= @confrontation.calculate_votes[1] %>
    </div>
  </div>

  <% unless @confrontation.time_expired? %>
    <!-- Text in expiration_time div must be hidden so that users don't see it but can't be removed! I'm setting it to white color text for now. -->
    <div id="expiration_time" style="color: white"><%= @confrontation.display_expiration_time %></div>

    <% if @confrontation.rebuttal.counterargument != "Unanswered" %>
      <div id='voting'>
        <form class = 'votes' action="/vote/true" method='POST'>
          <input type="hidden" name='id' value="<%= @confrontation.id %>">
          <input type='submit' class="icon-point-up up_buttom" value='&#xe602'>
        </form>
        <form class = 'votes' action="/vote/false" method='POST'>
          <input type="hidden" name='id' value="<%= @confrontation.id %>">
          <input type='submit' class="icon-point-up up_buttom" value='&#xe602'>
        </form>
      </div>
      <h4>Time left to vote:</h4>
      <div id="countdown"></div>
    <% end %>

  <% else %>
    <div id="user_pic"><%= gravatar_tag @confrontation.winner[0] %></div>
    <p><%= @confrontation.winner[1] %></p>
  <% end %>
  <p>
      <% @confrontation.tags.each do |tag| %>
        <span> <a href="/tag/<%= tag.id %>">#<%= tag.name %></a></span>
      <% end %>
    </p>

</div>
