<div class="container">

  <h1>Profile</h1>
  <h3>Welcome, <%= @user.name %>!</h3>
  <div id="user_pic"><%= gravatar_tag @user.email %></div>
  <h4>Current Confrontations</h4>
  <ul>
  <% @user.confrontations.each do |conf| %>
    <li class = "list" ><a href="/confrontation/<%= conf.id %>"><%= conf.title %></a></li>
  <% end %>
  </ul>

  <h4>Current Rebuttals</h4>
  <ul>
  <% @user.rebuttals.each do |reb| %>
    <li class = "list">
   <a class ='rebuttals' href="/confrontation/<%= reb.confrontation_id %>"><%= reb.confrontation.title %></a>
    <% if reb.counterargument == "Unanswered" %>
      <a class = 'icon-fire rebuttals' href="/rebuttal/<%= reb.confrontation.id %>/new"></a>
    <% end %>
    </li>
  <% end %>

  </ul>

</div>
